@media (max-width: 1200px) {
  .certificate-info-detail img {
    width: 100%;
  }
}

@media (min-width: 1201px) {
  .certificate-info-detail img {
    width: 50%;
  }
}

/* RESPONSIVE STYLE FOR DIGITAL CV */
@media (max-width: 1200px) {
  .digital-cv-container {
    grid-template-columns: 1fr;
  }

  .timeline {
    grid-column: 1;
    grid-row: 5;
  }
}
